@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    
  --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
  --fonte2: "Passion One", sans-serif;
  --fonte3: "Sriracha", cursive;

}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 4vw;
}

header > p{
   padding-bottom: 50px;
   font-size: 1.5vw;
}

a{
   text-decoration: none;
   color: white;
   font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(78, 78, 78, 0.26);
    color: white;
    background-position: right center;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.575);
    background-attachment: fixed;
    background-size: cover;
}

#img01{
    background-image: url(../imagens/background001.jpg);
}

#img2{
    background-image: url(../imagens/background002.jpg);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 8px;
    text-shadow: 1px 1px 0px black;
}

footer{
    background-color: black;
    padding: 10px;
}

footer p{
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: bolder;
}

footer a:hover{
    text-decoration: underline;
}
